{% extends 'base_dashboard.html' %}
 
<main>
     {% block content %}
     <h1>📝 Mes Devoirs</h1>
     {% if documents %}
     <table class="cours-table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Type du Document</th>
                <th>Date de telechargement</th>
                <th>Nombres Téléchargements</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for doc in documents %}
            <tr>
                <td>{{ doc.title }}</td>
                <td data-type="{{ doc.get_doc_type_display }}">{{ doc.get_doc_type_display }}</td>
                <td data-date="{{ doc.uploaded_at|date:'Y-m-d H:i:s' }}">{{ doc.uploaded_at|date:"d/m/Y" }}</td>
                <td> {{ doc.download_count }} </td>
                <td>
                    <a href="{% url 'delete_document' doc.pk %}" class="btn-supprimer"
                       onclick="return confirm('Supprimer ce cours ?')"><i class="ri-delete-bin-fill"></i> Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Aucun cours disponible.</p>
    {% endif %}
     {% endblock %}
</main>
  